<h1><%= @tournament.name %></h1>

<table class="tournament-header" border="1">
  <tr><td>Date: </td><td><%= @tournament.event_date %></td></tr>
  <tr><td>Location: </td><td><%= @tournament.location %></td></tr>
</table>

<p/>

<%= @description.html_safe %>


