$blue: #3bbfce;
$darkred:  #903030;
$lightred: #cc4444;
$palered:  #ee8888;
$faintyellow: #ffffcc;
$header_footer_color: $darkred;

div.header {
  width : 100%;
  height: 30px;
  background-color: $header_footer_color;
}

div.header div.button {
  float: left;
}

div.header div.button-right {
  float: right;
}


div.header div.button a,
div.header div.button-right a {
  width: auto;
  vertical-align: -5px;
  text-decoration: none;
  color: white;
  background-color: $lightred;
  margin: 10px;
  padding: 2px;
}

div.header div.button a.active,
div.header div.button a:hover,
div.header div.button-right a.active,
div.header div.button-right a:hover {
  background-color: $palered;
}

div.footer {
  width: 100%;
  height: 25px;
  color: white;
  background-color: $header_footer_color;
  line-height: 20px;
  font-size: 12px;
  text-align: right;
  line-height: 30px;
}

div.footer a {
  color: white;
}

dev.powered_by {
  margin-right: 10px;
}

div.flash-success {
  height: 32px;
  background: url('/images/check.jpg') no-repeat;
  background-color: $faintyellow;
  padding: 5px 0 5px 50px;
  color: black;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

div.flash-alert {
  height: 32px;
  background: url('/images/alert.jpg') no-repeat;
  background-color: $faintyellow;
  padding: 5px 0 5px 50px;
  color: black;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}


