
fieldset label {
  display: block;
}

fieldset ol li {
  list-style-type: none;
}

div.column_block {
  float: left;
  width: 500px;
}

form.registration_form div.column_block {
  float: left;
  width: 280px;
}

form.tournament_select_form div.column_block {
  float: left;
  width: 500px;
}

div.player_tournament_registration div.column_block {
  float: left;
  width: 470px;
}

/* clear float after lists */
br.column-stop {
  clear: left;
}