// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#registration_uscf_member_id {
}

span.info {
  position: block-inline;
  font-size: 12px;
}

span.privacy-policy {
  font-size: 12px;
  float: right;
}