// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #3bbfce;
$darkred:  #903030;
$lightred: #cc4444;
$palered:  #ee8888;
$verypalered: #ffbbbb;

table.tournament-schedule {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 3px solid $lightred;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

table.tournament-schedule td, table.tournament-schedule th {
  padding: 4px 5px;
}

table.tournament-schedule thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $darkred), color-stop(1, $lightred) );
  background:-moz-linear-gradient( center top, $darkred 5%, $lightred 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$darkred', endColorstr='$lightred');
  background-color: $lightred;
  color:#FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border-left: 0px solid $lightred;
}

table.tournament-schedule table thead th:first-child {
  border: none;
}

table.tournament-schedule tbody tr td {
  color: #80141C;
  border-left: 1px solid #F7CDCD;
  font-size: 12px;
  font-weight: bold; }

table.tournament-schedule tbody tr.alt td {
  background: $verypalered;
  color: #80141C; }

table.tournament-scheduletable tbody td:first-child {
  border-left: none;
}

table.tournament-scheduletable tbody tr:last-child td {
  border-bottom: none;
}