// Place all the styles related to the tournament controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #3bbfce;
$darkred:  #903030;
$lightred: #cc4444;
$palered:  #ee8888;

$button-rounding-radius: 8px;

table.tournament-header {
  border: 0;
  font-weight: bold;
}

table.tournament-header td:first-child {
  text-align: right;
}

div.registration-link {
  float: right;
  margin-top: 10px;
}

div.registration-link a {
  text-decoration: none;
  background-color: $lightred;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;

  -moz-border-radius-bottomleft:      $button-rounding-radius;
  -webkit-border-bottom-left-radius:  $button-rounding-radius;
  border-bottom-left-radius:          $button-rounding-radius;

  -moz-border-radius-bottomright:     $button-rounding-radius;
  -webkit-border-bottom-right-radius: $button-rounding-radius;
  border-bottom-right-radius:         $button-rounding-radius;

  -moz-border-radius-topright:        $button-rounding-radius;
  -webkit-border-top-right-radius:    $button-rounding-radius;
  border-top-right-radius:            $button-rounding-radius;

  -moz-border-radius-topleft:         $button-rounding-radius;
  -webkit-border-top-left-radius:     $button-rounding-radius;
  border-top-left-radius:             $button-rounding-radius;
}

div.registration-link a.active,
div.registration-link a:hover {
  background-color: $palered;
}


div.sect2 h3 {
  background-color: $palered;
}

div.sect2 div.ulist ul {
}

div.sect2 div.ulist li {
  line-height: 0px;
}

table.tournament-player-sections {
  border-collapse:  collapse;
}

table.tournament-player-sections td.spacer {
  text-align: left;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

table.tournament-player-sections th,
table.tournament-player-sections tr,
table.tournament-player-sections td {
  text-align: left;
  border: 1px solid black;
  padding: 2px;
}
table.tournament-player-sections tr th.player  {width: 15%;}
table.tournament-player-sections tr th.grade   {width: 5%;}
table.tournament-player-sections tr th.rating  {width: 5%}

#PPMiniCart ul {
//  height: auto !important;
}

#PPMiniCart li .quantity {
//  visibility: collapse !important;
}

#PPMiniCart li a {
//  width: 400px !important ;
//  color: $lightred !important ;
}

#PPMiniCart li a span {
//  display: none  !important;
}

#PPMiniCart form {
//  right: 185px  !important ;
//  width: 500px  !important ;
}

#PPMiniCart p .shipping {
//  visibility: collapse !important;
}